html {
    font-family: 'PT Sans Narrow', sans-serif;
    background: #A2C6CC;
}

/* hide the results and details by default*/
#results, #details {
    display: none;
}




section {
    background: rgba(180, 220, 227, 1);
    margin: auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 15px;
}



/* select the img with an id="logo */
img#logo {
    margin: auto;
    width: 50%;
    display: block;
}
#results img {
    max-width: 20%;
    max-height: 20%
}

#details img {
    max-height: 100%;
    max-width: 100%;
}

/*applying styles to both select and button elements*/
select, button {
    width: 90%;
    background: #A2C6CC;
    color: black;
    font-size: 110%;
}

button {
    border: none;
    width: 50px;
    height: 25px;
    float: right;
    border-radius: 5px;
}

.button
{
    cursor: pointer;
}
    
#results ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#results li {
    border: 1px solid #A2C6CC;
    margin-bottom: -1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.5s;
}

#results li:hover {
    background: #A2C6CC;
}

#results img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

#results h2 {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: calc(8rem + 10px);
    line-height: 1;
    font-size: 1.5rem;
}
#results h3 {
    padding-left: calc(8rem + 10px);
    line-height: 0.01;
}