html {
    font-family: 'PT Sans Narrow', sans-serif;
/*
    background-image: url("https://images.unsplash.com/photo-1470843810958-2da815d0e041?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=556a459fa3e22958c1a9839501dc5fda");
    background-size: 100%;
    background-attachment: fixed;
*/
}

/* hide the results and details by default*/
#results, #details {
    display: none;
}

section {
    background: rgba(180, 220, 227, 0.6);
    margin: auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 15px;
}

/* select the img with an id="logo */
img#logo {
    margin: auto;
    width: 50%;
    display: block;
}

/*applying styles to both select and button elements*/
select, button {
    width: 90%;
    background: #b4dce3;
    color: black;
    font-size: 110%;
}

button {
    border: none;
    width: 50px;
    height: 25px;
    float: right;
    border-radius: 5px;
}